<header class="header">
  Angular TO DO List
</header>

<div class="body-component">
  <div class="input-config">
    <mat-form-field class="input-config-input-to-do">
      <mat-label>To Do List</mat-label>
      <input matInput placeholder="Ex. Walk 10 minutes" appearance="fill" [formControl]="inputToDo">
      <mat-error>You must type something.</mat-error>
    </mat-form-field>
    <button [disabled]="inputToDo.hasError('required')? true : null" mat-raised-button type="button" class="add-to-do-list" (click)="addToList()">{{idItemEditing == 0 ? "Add" :
      "Edit"}}</button>
  </div>
  <div class="ngHolder-list-items">
    <div *ngFor="let toDoItem of toDoList">
      <div class="list-items-to-do">
        <div class="to-do-text">
          <div class="icon-done-list-to-do" *ngIf="toDoItem.status else statusFalse">
            <mat-icon aria-label="done" class="icon-done">check</mat-icon>
            <div class="line-through">
              <div class="text-wrap">{{toDoItem.text}}</div>
            </div>
          </div>
          <ng-template class="min-width-error-fix" #statusFalse>
            <mat-icon aria-label="must do">chevron_right</mat-icon>
            <div class="text-wrap">{{toDoItem.text}}</div>
          </ng-template>
        </div>
        <div class="actions-to-do">
          <button mat-mini-fab color="primary" (click)="editFromList(toDoItem.id)">
            <mat-icon aria-label="edit">edit</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="removeFromList(toDoItem.id)">
            <mat-icon aria-label="delete">delete</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="finishFromList(toDoItem.id)">
            <mat-icon aria-label="done">done</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
<router-outlet></router-outlet>